@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /*General Elements*/
    body::-webkit-scrollbar{
        width: .5em;
    }
    body::-webkit-scrollbar-thumb{
        background: #E7E7D8;
        border: 1px solid #AFAC95;
    }
    *::selection{
        background: #E7E7D8;
        color: #181818;
    }
    *::-moz-selection{
        background: #E7E7D8;
        color: #181818;
    }
    .body{
        @apply bg-pllx-gray-dark;
    }
    .item-nav{
        @apply font-clash text-base text-white hover:text-pllx-theme hover:font-semibold transition-all ease-in duration-200;
    }
    .banner{
        background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial.png") center center / 650px no-repeat;
    }
    .about{
        background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-malla.png") center center repeat;
    }
    .projects{
        background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-img-cassete.png") 900px -5% / 1000px no-repeat,
                    url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") -10% 50% / 650px no-repeat,
                    url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") 110% 90% / 650px no-repeat;
    }
    @media(max-width: 1024px){
        .projects{
            background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-img-cassete.png") 650px 0% / 650px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") -10% 50% / 650px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") 110% 90% / 650px no-repeat;
        }
    }
    @media(max-width: 768px){
        .projects{
            background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-img-cassete.png") 500px 0% / 500px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") -10% 50% / 650px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") 110% 90% / 650px no-repeat;
        }
    }
    @media(max-width: 425px){
        .projects{
            background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-img-cassete.png") 200px -30px / 400px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") -10% 50% / 650px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") 110% 90% / 650px no-repeat;
        }
    }
    @media(max-width: 375px){
        .projects{
            background: url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-img-cassete.png") 180px 30px / 400px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") -10% 50% / 650px no-repeat,
            url("https://yxkdixicvsbupkvzjozk.supabase.co/storage/v1/object/public/parallax_public/assets/pllx-texture-radial-red.png") 110% 90% / 650px no-repeat;
        }
    }
    .portfolio-nav{
        @apply cursor-pointer bg-pllx-black text-white hover:text-pllx-gray-dark font-switzer text-base hover:bg-pllx-gray-light px-4 py-2 rounded-full;
    }
    input{
        @apply bg-pllx-gray-dark border border-pllx-t-20 rounded-full py-3 px-4 font-clash;
    }
    textarea{
        @apply bg-pllx-gray-dark border border-pllx-t-20 rounded-2xl py-3 px-4 font-clash;
    }
    input::placeholder, textarea::placeholder{
        @apply text-white
    }
    input:focus{
        @apply outline-pllx-theme
    }
}